@model WebApp.Models.EditInventoryItem

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>InventoryItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Editable.Id" />
            <input type="hidden" asp-for="Original.Name" />
            <input type="hidden" asp-for="Original.IsActive" />
            <input type="hidden" asp-for="Original.Count" />
            <input type="hidden" asp-for="Original.Note" />
            <div class="form-group">
                <label asp-for="Editable.Name" class="control-label"></label>
                <input asp-for="Editable.Name" class="form-control" />
                <span asp-validation-for="Editable.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Editable.IsActive" /> @Html.DisplayNameFor(model => model.Editable.IsActive)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Editable.Count" class="control-label"></label>
                <input asp-for="Editable.Count" class="form-control" />
                <span asp-validation-for="Editable.Count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Editable.Note" class="control-label"></label>
                <input asp-for="Editable.Note" class="form-control" />
                <span asp-validation-for="Editable.Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
