@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Vancouver, BC<br />
</address>

<address>
    <strong>LinkedIn </strong><a href="https://www.linkedin.com/in/tedbouskill/">Ted Bouskill</a><br />
</address>
